.ql-toolbar {
  border-radius: 5px 5px 0 0;
  border-color: #ddd !important;
  border-bottom: 1px solid #ddd !important;
  background: rgb(249 250 251);
}
.ql-container {
  height: 350px;
  overflow-y: scroll;
  border-color: #ddd !important;
  border-radius: 0 0 5px 5px;
  border: none;
}
.ql-editor {
  font-size: 14px;
}
